<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gymlogmulti">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.android.gymlogmulti.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.gymlogmulti.SendReminderActivity"
            android:label="@string/send_reminder"
            android:parentActivityName="com.example.android.gymlogmulti.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.example.android.gymlogmulti.CurrentClassActivity"
            android:label="@string/current_class"
            android:parentActivityName="com.example.android.gymlogmulti.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.gymlogmulti.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask"
            android:parentActivityName="com.example.android.gymlogmulti.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.gymlogmulti.ClientProfileActivity"
            android:label="@string/client_profile"
            android:exported="true"
            android:parentActivityName="com.example.android.gymlogmulti.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.gymlogmulti.NewClientActivity"
            android:label="@string/new_client"
            android:parentActivityName="com.example.android.gymlogmulti.SearchActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.example.android.gymlogmulti.LoginScreen"
            android:label="@string/login"/>
        <activity
            android:name="com.example.android.gymlogmulti.PayClientActivity"
            android:label="@string/new_payment"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.android.gymlogmulti.SearchActivity" />
        <activity
            android:name="com.example.android.gymlogmulti.ModifyClientActivity"
            android:label="@string/modify"
            android:parentActivityName="com.example.android.gymlogmulti.SearchActivity" />
        <activity
            android:name="com.example.android.gymlogmulti.ClientsSearchActivity"
            android:label="@string/manual_search"
            android:parentActivityName="com.example.android.gymlogmulti.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.gymlogmulti.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.example.android.gymlogmulti.SearchActivity" />
        <receiver
            android:name="com.example.android.gymlogmulti.BackupBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>